body {
  background: url("https://img.goodfon.com/wallpaper/nbig/6/c1/tropical-coral-reef-1264.jpg")
    no-repeat center center;
  background-size: cover;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 543px;
  min-width: 543px;
}

.container {
  font-size: 12px;
  text-align: center;
}

h1 {
  font-size: 30px;
}
